* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  background-color: antiquewhite;
  background-image: url("/p_reciclado.jpg");
  background-attachment: fixed;
  text-align: center;
  color: #0e0e0e;
}

/*nav*/
ul {
  list-style: none;
}

/* header*/
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  margin: 30px;
}

/*Subtitulo*/
h5 {
  margin: 30px;
}

li {
  font-size: smaller;
  margin: 10px 10px 10px;
  color: #474747;
}

.img_weird_fishes {
  margin: 20px;
}

footer {
  font-size: smaller;
  padding: 20px;
}
